@use "./../abstracts/" as * ;

$list : ("best.jpg","solutions.jpg","teamwork.jpg");
#Why_Us{
    overflow: hidden;
    position: relative;
    &::before{
       content: " "; 
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-image: url("../../../Images/images/back.jfif");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       filter: blur(2.5px);
       z-index: -1;
    }

    .part{
        .item{
            color: #fff !important;
            max-width: 280px;
            @include respond(850){
                max-width: 320px;
            }
            margin: auto;
            border-radius: 15px;
            background-color: $firstColor;
            h5{
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: 700;
            }
            p{
                color: #d3d3d3;
            }
            .box{
                height: 450px;
                padding: 5px 15px;
                @include flex(end,start,column);
                 border-radius: 15px;
                 transition-duration: 0.5s;
                 position: relative;

                 &::before{
                    @include createEle();
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg,#1e2022,transparent 75%);
                    @include position($t:0,$l:0);
                    border-radius: 15px;
                 }


                 & *{
                    position: relative;
                 }
                
            }

            &:hover{
                .box{
                    transform: translate(-12px , 12px);
                }
            }
        }

        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}){
                .item .box{
                    @include bg("../../../Images/images/#{nth($list,$i)}");
                }
            }
        }
    }
}